<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='/img/icon/64x64.png')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/root.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/default.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/nbb.css')}}">
    <title>colinhex</title>
</head>
<body>
    <div id="blocking"></div>
    <div class="content">
        <div class="navbar">
            <div id="ni0" class="navbar-item">
                <a id="nbb0" class="navbar-button" type="button">
                    Home
                </a>
            </div>
            <div id="ni1" class="navbar-item">
                <a id="nbb1" class="navbar-button" type="button">
                    About
                </a>
            </div>
            <div id="ni2" class="navbar-item">
                <a id="nbb2" class="navbar-button" type="button">
                    Contact
                </a>
            </div>
            <div id="ni3" class="navbar-item">
                <a id="nbb3" class="navbar-button" type="button">
                    Projects
                </a>
            </div>
        </div>
        <div class="page-content">
            <div id="banner" style="background-image: url({{ url_for('static', filename='/img/laptop.jpg') }});"></div>
            <div id="banner-text" style="background-image: url({{ url_for('static', filename='/img/colinhex.png') }});"></div>
            <div id="pg0" class="slide-page" style="z-index: 1; background-color: var(--color-page0);">
                <div id="spc0" class="slide-page-content">
                    <div class="page-container">
                        <div class="page-sub-container">
                            <p class="page-title">
                                Navigation
                            </p>
                        </div>
                        <div class="page-sub-container">
                            <p class="page-paragraph-title">
                                Updates & Forum
                            </p>
                        </div>
                        <div class="page-sub-container">
                            <p class="page-paragraph">
                                In the update forum you can find updates to the website, new projects and a general
                                overlook over what I'm up to. You can also subscribe to the forum and receive the gist
                                comfortably in your email. If you're a user you can create Posts and comments yourself!
                            </p>
                        </div>
                        <div class="page-sub-container">
                            <button class="default-button page-button" onclick="window.location.href='/updates'">to update forum</button>
                        </div>
                        <div class="page-sub-container">
                            <p class="page-paragraph-title">
                                Register & Login
                            </p>
                        </div>
                        <div class="page-sub-container">
                            <p class="page-paragraph">
                                Create an account or login to get more privileges on the website.
                            </p>
                        </div>
                        <div class="page-sub-container">
                            <button class="default-button page-button" onclick="window.location.href='/register'">to login</button>
                        </div>
                    </div>
                    <div class="page-container">

                    </div>
                </div>
            </div>
            <div id="pg1" class="slide-page" style="z-index: 2; background-color: var(--color-page1);">
                <div id="spc1" class="slide-page-content">
                    <div class="page-container">
                        <div class="page-sub-container">
                            <p class="page-paragraph-title">
                                Why Information Science?
                            </p>
                        </div>
                        <div class="page-sub-container">
                            <p class="page-paragraph">
                                I have always been interested in technology, and it did not take long for me to take up
                                programming and mathematics as favorites in my studies. An entry point towards computer
                                science for me was the realization that no matter the sub-subject or issue, time and
                                sustained engagement can make a fool be a rookie and let a rookie become savvy.
                                I discovered some affinity for structure and some sense of beauty in code.
                                Be it in the predictability and elegance of algorithms or in the pragmatic
                                and creative way of heuristics.
                            </p>
                        </div>
                        <div class="page-sub-container">
                            <img class="page-image" src="{{ url_for('static', filename='/img/connected-points.png') }}">
                        </div>
                        <div class="page-sub-container">
                            <p class="page-paragraph">
                                There are right ways to do things, by design or metrics
                                and if you stumble across it by research or are told once you are sure not to make the
                                same mistake twice, as it probably gave you more head-aches than you like to admit.
                                If you are thorough enough and have a curious outlook that welcomes criticism you very
                                likely prevent mistakes all-together. Being empathetic towards others, this makes
                                results especially satisfying: knowing you worked on something that is persistent,
                                secure and won’t cause head-aches.
                            </p>
                        </div>
                        <div class="page-sub-container">
                            <p class="page-paragraph">
                                Through the course of my degree I was dabbling first in Java, then MatLab and Python,
                                then some C++ and SQL and, at the time of writing, in the basics of web-development.
                                My biggest "Ahaa"-moment was not some deeply-buried-in-the-stack exception, though there
                                were quite a few of those, but the sheer size of all individual and interconnected
                                software-systems that span the globe and drive the economy, society and politics of today
                                and tomorrow.
                            </p>
                        </div>
                    </div>
                    <div class="page-container">
                        <div class="page-sub-container">
                            <p class="page-paragraph-title">
                                Hobbies and Interests
                            </p>
                        </div>
                        <div class="page-sub-container">
                            <p class="page-paragraph">
                                One major driver of my interest was always the ways authors could put far away futures
                                into words. When I was young I was captivated by Isaac Asimov’s novels and not long ago
                                by Adrian Tchaikovsky’s Children of Time, Liu Cixin’s Remembrance of Earths Past and,
                                to kill the time, Pierce Brown’s Red Rising book series.
                            </p>
                        </div>
                        <div class="page-sub-container">
                            <img id="tbp-jpg" class="page-image" src="{{ url_for('static', filename='/img/three-body-problem.jpg') }}">
                            <label for="tbp-jpg">Fan-art of Remembrance of Earths Past</label>
                        </div>
                        <div class="page-sub-container">
                            <p class="page-paragraph">
                                All the themes of fictitious shows, movies and books that tie me up have some
                                scope to them, but I can also enjoy some action movie here and there. On the non-fiction
                                side one of my favorite reads was The Algorithm Design Manual by Steven Skiena.
                                When time is short I do like to listen to audiobooks while doing mundane every-day things
                                to get my spirit up. It takes a good chunk of boredom out of the day and chores are much
                                more rewarding.
                            </p>
                        </div>
                        <div class="page-sub-container">
                            <p class="page-paragraph">
                                To keep myself fit I work out and swim in my spare time. On weekends, I meet friends
                                at bars or restaurants. So In short, you might meet me in public pools and places
                                serving good food and drinks! If the weather is right and the time is there, skiing or
                                traveling also cheer me up. Some on my bucket-list are the Rocky Mountains,
                                the Red-Wood Forests, Moscow and Islands like Okinawa, the Canaries and the Maldives.
                            </p>
                        </div>
                        <div class="page-sub-container">
                            <p class="page-paragraph">
                                Other things I recently started practicing are sudoku, chess and Russian, with the intent
                                to keep myself sharp and the effect of feeling like climbing steep hills below a fog that
                                disillusions any sense of progress.
                            </p>
                        </div>
                        <div class="page-sub-container">
                            <p class="page-paragraph">

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pg2" class="slide-page" style="z-index: 3; background-color: var(--color-page2);">
                <div id="spc2" class="slide-page-content">
                    <div class="page-container">
                        <p class="page-paragraph">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                    <div class="page-container">
                        <img id="spc2img0" src="{{ url_for('static', filename='/img/eye.png') }}">
                    </div>
                </div>
            </div>
            <div id="pg3" class="slide-page" style="z-index: 4; background-color: var(--color-page3);">
                <div id="spc3" class="slide-page-content">
                    <div class="page-container">
                        <img id="spc3img" src="{{ url_for('static', filename='/img/eye.png') }}">
                    </div>
                    <div class="page-container">
                         <p class="page-paragraph">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus <a href="/updates">listen for UPDATES</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='/js/index_script.js')}}"></script>
</body>
</html>