<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='/img/icon/64x64.png')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/root.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/default.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/nbb.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/blog.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/textFields.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/editor.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/user_toolbar.css')}}">
    <title>Blog</title>
</head>
<body>
 <div id="blocking"></div>
    <div class="content">
        <div class="navbar">
            <div id="ni0" class="navbar-item">
                <a id="nbb0" class="navbar-button" type="button">
                    back to homepage
                </a>
            </div>
        </div>
        <div class="page-content" style="background-size: cover; background-image: url({{ url_for('static', filename='/img/colordots2.png') }});">
            <div id="blog" class="dyn-blog"></div>
            {% if current_user.is_authenticated %}
            <div class='user-toolbar'>
                <div class='user-toolbar-text-container'>
                   {{ current_user.get_id() }}
                </div>
                <div class='default-button user-toolbar-option' onclick="window.location = '{{ url_for('hub.index') }}settings';" style="background-image: url({{ url_for('static', filename='/img/uticons/settings.svg') }});"></div>
                <div class='default-button user-toolbar-option' onclick="window.location = '{{ url_for('hub.index') }}share/{{ url_for(request.endpoint) }}';" style="background-image: url({{ url_for('static', filename='/img/uticons/send.svg') }});"></div>
                <div class='default-button user-toolbar-option' onclick="window.location = '{{ url_for('hub.index') }}logout';" style="background-image: url({{ url_for('static', filename='/img/uticons/log-out.svg') }});"></div>
            </div>
            {% endif %}
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='/js/blog_script.js')}}"></script>
    <script type="module" defer>
            render({{ blog_posts | tojson }}, {{ blog_comments | tojson }});
            configureReplyButtons(
                document.getElementsByClassName('reply-button'),
                'url({{ url_for('static', filename='/img/buttonIcons/reply.svg') }})'
            );
            loadPostEditor();
    </script>
</body>
</html>